<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/image/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/image/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/image/favicon-16x16.png"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/inicio.css" /> -->
    <!--<link rel="stylesheet" href="/css/base.css" />-->
    <!-- <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/css/pieces.css" />
    <link rel="stylesheet" type="text/css" href="/sponsor/pater.css" /> -->
    <link rel="stylesheet" type="text/css" href="/css/screen.css" />
    <link rel="stylesheet" href="/css/neuro.css" />

    <link rel="manifest" href="/image/site.webmanifest" />
    <link rel="mask-icon" href="/image/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('partials/head') %>
  </head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-VZF73L1Q21"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-VZF73L1Q21");
  </script>

  <body>
    <%- include('partials/navigation') %>
    <img
      class="soundbutton paused img-fluid z-50"
      src="/image/sound.gif"
      alt="sound"
      id="speech"
    />

    <audio class="audio" src="../video/welcome3.wav" loop></audio>
    <div class="content"></div>
      <div class="section">
        <a href="https://ybestudio.site/about"
          ><img src="../image/ybgreen.png" id="logo"
        /></a>
      </div>
      <canvas id="neuro"></canvas>
    </div>

    <div class="layer"></div>
    <script type="x-shader/x-fragment" id="vertShader">
      precision mediump float;

      varying vec2 vUv;
      attribute vec2 a_position;

      void main() {
          vUv = .5 * (a_position + 1.);
          gl_Position = vec4(a_position, 0.0, 1.0);
      }
    </script>

    <script type="x-shader/x-fragment" id="fragShader">
      precision mediump float;

      varying vec2 vUv;
      uniform float u_time;
      uniform float u_ratio;
      uniform vec2 u_pointer_position;
      uniform float u_scroll_progress;

      vec2 rotate(vec2 uv, float th) {
          return mat2(cos(th), sin(th), -sin(th), cos(th)) * uv;
      }

      float neuro_shape(vec2 uv, float t, float p) {
          vec2 sine_acc = vec2(0.);
          vec2 res = vec2(0.);
          float scale = 8.;

          for (int j = 0; j < 15; j++) {
              uv = rotate(uv, 1.);
              sine_acc = rotate(sine_acc, 1.);
              vec2 layer = uv * scale + float(j) + sine_acc - t;
              sine_acc += sin(layer);
              res += (.5 + .5 * cos(layer)) / scale;
              scale *= (1.2 - .07 * p);
          }
          return res.x + res.y;
      }

      void main() {
          vec2 uv = .5 * vUv;
          uv.x *= u_ratio;

          vec2 pointer = vUv - u_pointer_position;
          pointer.x *= u_ratio;
          float p = clamp(length(pointer), 0., 1.);
          p = .5 * pow(1. - p, 2.);

          float t = .001 * u_time;
          vec3 color = vec3(0.);

          float noise = neuro_shape(uv, t, p);

          noise = 1.2 * pow(noise, 3.);
          noise += pow(noise, 10.);
          noise = max(.0, noise - .5);
          noise *= (1. - length(vUv - .5));

          color = normalize(vec3(.2, .5 + .4 * cos(3. * u_scroll_progress), .5 + .5 * sin(3. * u_scroll_progress)));

          color = color * noise;

          gl_FragColor = vec4(color, noise);
      }
    </script>

    <!-- <script src="js3/imagesloaded.pkgd.min.js"></script>
    <script src="js3/anime.min.js"></script>
    <script src="js3/charming.min.js"></script>
    <script src="js3/screen.js"></script> -->
    <script src="js/sound.js"></script>
    <script src="js/neuro.js"></script>

    <%- include('partials/footer') %>
  </body>
</html>
