section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background: linear-gradient(to left, #173049, #435f6f 60%);
  margin: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  opacity: 0.3;*/
}
/*.f {
  position: fixed;
  bottom: 5px;
  right: 15px;
  font-family: "Arial";
  font-size: 0.7rem;
  color: #68aadb;
  text-align: center;
}
.f a {
  font-size: 0.8rem;
  color: #b5f1f7;
} 
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
*/
/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  background: #00101a;
}
body {
  font-family: fino-sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-style: normal;
}
.webgl {
  position: fixed;
  width: 100vw;
  height: 100vh;
}*/

/* button {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-appearance: none;
    background: crimson;
    color: white;
    font: inherit;
    font-size: 1.5rem;
    padding: 0.75rem 2.5rem;
    border: none;
    border-radius: 1.75rem;
    cursor: pointer;
  }
  
  h1 {
    position: absolute;
    color: white;
    top: 3rem;
    left: 3rem;
    right: 3rem;
    text-align: center;
    font-size: 3rem;
  }
  
  footer {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    color: white;
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
  }
  
  a {
    color: inherit;
  } */
#speech {
  width: 5%;
}
.soundbutton {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  z-index: 5;
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}
.soundbutton.paused {
  opacity: 0.6;
  z-index: 10;
}
